@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/accordion";
//@import "../node_modules/bootstrap/scss/buttons";
//@import "../node_modules/bootstrap/scss/root";
//@import "../node_modules/bootstrap/scss/progress";

//COLOR_VARIABLES
$bg-gray: #272525;
$light-gray: #c9c8c9;
$dark-gray: #7d7d7d;
$white: #f1f1f1;
//decor line
$blue: #35d3da;
$green: #9cb806;
$yellow: #fef764;
$orange: #f89c12;
$red: #f23c06;
//FRAMWORKS COLORS
$violet: #7952b3;
$pink: #bf4080;
$peach: #f36c4c;

//BUILDING

.container--main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
}

.decor-line {
  display: flex;
  height: 10px;

  span {
    flex-grow: 1;
    width: 20%;
    padding: 0;
    margin: 0;
  }
}

.social-wrapper {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;

  .social-icon {
    text-decoration: none;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.content-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 16px;
}
.section-profile {
  padding-bottom: 30px;

  .img-wrapper {
    margin-bottom: 16px;
    display: flex;
    img {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      margin: 0 auto;
    }
  }

  .name-wrapper {
    padding-bottom: 20px;
  }

  .datas-wrapper {
    line-height: 1.5em;
    display: block;
    position: relative;
  }
  .datas-label {
    position: relative;
    display: inline-block;
    width: 39%;
  }
  .datas {
    position: relative;
    display: inline-block;
    width: 58%;
  }

  .hr {
    height: 3px;
    width: 100%;
    border-width: 0;
    color: $blue;
    background-color: $blue;
    justify-content: center;
  }
}

.accordion-item {
  border-bottom: 1px solid $light-gray !important;
}
.accordion-item:last-child {
  border-bottom: 0px !important;
}
.accordion-header {
  // margin-bottom: -2px;
  // margin-top: -2px;
}
.accordion-text {
  margin-bottom: 20px;
}
.post {
  padding: 0px 12px;
  margin-bottom: 6px;
}
.place {
  font-weight: 200;
}

.programation {
  padding-bottom: 30px;
  p {
    margin: 8px;
  }
}
.framwork {
  padding-bottom: 30px;
}
.languges-wrapper {
  display: block;
  position: relative;
}
.language {
  display: inline-block;
  position: relative;
  width: 60%;
}
.dots {
  display: inline-block;
  position: relative;
  width: 35%;
}
.dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.dot-empty {
  opacity: 0.4;
}

// TYPOGRAPHY&COLORS
.style-1 {
  background-color: $blue;
}
.style-2 {
  background-color: $green;
}
.style-3 {
  background-color: $yellow;
}
.style-4 {
  background-color: $orange;
}
.style-5 {
  background-color: $red;
}
.social-icon {
  img {
    background-color: $light-gray;
  }
}

.content-wrapper {
  font-family: Saira;
  background-color: $bg-gray;
  color: $white;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.skill-text {
  font-size: 16px;
  font-weight: 200;
  color: $light-gray;
}
span {
  font-size: 14px;
}

h3,
.datas {
  color: $dark-gray;
}

.datas-label {
  color: $light-gray;
  font-weight: 700;
}
.datas_priority {
  color: $blue;
}
.hr {
  border-top: 3px solid $red;
}

.accordion-item .accordion-header {
  background-color: $bg-gray !important;

  .accordion-button {
    background-color: $bg-gray;
    span {
      font-weight: 600;
      font-size: 24px;
      padding: 4px 24px;
    }
    .education {
      background-color: $blue;
    }
    .work {
      background-color: $green;
    }
    .skills {
      background-color: $yellow;
    }
    .portfolio {
      background-color: $orange;
    }
    .contact {
      background-color: $red;
    }
  }
  .accordion-button:not(.collapsed) {
    color: $bg-gray;
    background-color: $light-gray;
    // box-shadow: inset 20 -3px 10 rgba(0, 0, 0, 0.8);
    border: none;
  }
}
.accordion-button:focus {
  z-index: 3;
  border-color: $bg-gray !important;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.accordion-body {
  background-color: $bg-gray !important;
}
.post {
  font-size: 1.2 rem;
  font-weight: 600;
  background-color: $dark-gray;
}
.accordion-text {
  font-size: 0.9rem;
}

.progress {
  background-color: $dark-gray !important;
}
.prog1 {
  background-color: $blue !important;
}
.prog2 {
  background-color: $green !important;
}
.prog3 {
  background-color: $yellow !important;
}
.prog4 {
  background-color: $orange !important;
}
.prog5 {
  background-color: $red !important;
}
.bg-bootstrap {
  background-color: $violet !important;
}
.bg-sass {
  background-color: $pink !important;
}
.bg-mjml {
  background-color: $peach !important;
}
.hu {
  .dot {
    background-color: $green;
  }
}

.en {
  .dot {
    background-color: $red;
  }
}
.fr {
  .dot {
    background-color: $blue;
  }
}
.text-small {
  color: $light-gray;
  font-family: Saira;
  font-size: 12px;
  text-align: end;

  a {
    color: #35d3da;

    a:hover {
      color: $green;
    }
  }
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
